<section class="container-fluid section-wrapper" id="social-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center ">
          <ul class="social-icons list-unstyled list-inline">
            
              
              
              
              <li>
              <a href="https://facebook.com/quickapps" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook" class="green-tooltip">
                <div class="social-icon text-center"><i class="fa fa-facebook-official fa-lg"></i></div>
              </a>
            </li>

            <li>
              <a href="https://twitter.com/quickapps" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter" class="green-tooltip">
                <div class="social-icon text-center"><i class="fa fa-twitter fa-lg"></i></div>
              </a>
            </li>

            <li>
              <a href="https://www.instagram.com/quickapps/" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram" class="green-tooltip">
                <div class="social-icon text-center"><i class="fa fa-instagram fa-lg"></i></div>
              </a>
            </li>

            <li>
              <a href="https://www.youtube.com/channel/Uquickapps/" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="YouTube" class="green-tooltip">
                <div class="social-icon text-center"><i class="fa fa-youtube-play fa-lg"></i></div>
              </a>
            </li>

            <li>
              <a href="mailto:quickapps@gmail.com" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email" class="green-tooltip">
                <div class="social-icon text-center"><i class="fa fa-envelope fa-lg"></i></div>
              </a>
            </li>
          </ul>
          
            
            <div class="col-md-12 text-center">
            <small>Copyright 2016 Quickapps Ltd. All rights reserved.</small>
          </div>
        </div>
      </div>
    </div>
  </section>