
<!--Swiper Container-->
    <!--<div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">Slide 1</div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
            <div class="swiper-slide">Slide 4</div>
            <div class="swiper-slide">Slide 5</div>
            <div class="swiper-slide">Slide 6</div>
            <div class="swiper-slide">Slide 7</div>
            <div class="swiper-slide">Slide 8</div>
            <div class="swiper-slide">Slide 9</div>
            <div class="swiper-slide">Slide 10</div>
        </div>
    </div>-->





<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  
  </ol>

 <!--=============================================================================
//MAIN SLIDER
=============================================================================-->
  <div class="carousel-inner" role="listbox">
    
    
    <div class="carousel-item active">
  
  <!-- Text Holder-->
      <div class="col-lg-9 learn">
<h2>Learn</h2>
<h3> How to become No.1 <br> Business in Your Local Area</h3>
<button class=" btn btn-success btn-lg">Learn More</button>
</div>
      </div>

    
      <!--=============================================================================
//GET THE APP SLIDER
=============================================================================-->
     <div class="carousel-item active2">
      <!-- Text Holder-->
      <div class="col-lg-9 learn">
<h2>Learn</h2>
<h3> How to become No.1 <br> Business in Your Local Area</h3>
<button class=" btn btn-success btn-lg">Learn More</button>
</div>
      
    </div>

 <!--=============================================================================
//RESPONSIVE BANNER SLIDER
=============================================================================-->
    <div class="carousel-item active3">
    <!-- Text Holder-->
      <div class="col-lg-9 learn">
<h2>Learn</h2>
<h3> How to become No.1 <br> Business in Your Local Area</h3>
<button class=" btn btn-success btn-lg">Learn More</button>
</div>
      
    </div>

   <!--=============================================================================
//CONTENT MANAGMENT SLIDER
=============================================================================-->
    
    <div class="carousel-item active4">
     <!-- Text Holder-->
      <div class="col-lg-9 learn">
<h2>Learn</h2>
<h3> How to become No.1 <br> Business in Your Local Area</h3>
<button class=" btn btn-success btn-lg">Learn More</button>
</div> 
      
    </div>
    
  </div>



  <!-- Controls -->
  
   
   <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> 
   

     <!--
********************************************************************
* White Section
********************************************************************
-->  

    <section id ="search">
        <div class="container-fluid">
                <div class="row">
            <div class="window-wrapper text-center">
<img src="assets/images/logo.png" alt="quickappslogo">
<h2>Is Your Business</h2>
<h1>Magnet</h1>

</div>
                
                
</div>
</div>
       
</section>


<!--
********************************************************************
* Section 1 Parrallax Image1
********************************************************************
--> 


<section class="section1">
<div class="container">
<div class="row">
    <div class="col-md-6 ">
 

      <div class="col-md-12">
      
      </div>

      
    </div>

      <!--image right-->

      <div class="col-md-6 push-md-2 ">
        <div class="col-md-12 welcome">
 
      <h2>Welcome to Quickapps</h2>
      
      <h3>a  business website with simple tips to help a small business owner get the most from their own branded app.</h3>
       <h3><i>It just so happens we build great websites and apps...</i></h3>



</div>

</div>
     
     
     
      </div>
      </div>
      </section>

  
  
                           <!--
********************************************************************
* Section 2 Blank white Section
********************************************************************
--> 

    <section class="tips">
<div class="container-fluid">
<div class="row">

<div class="window-wrapper text-center">
    
<div class="col-md-12 text-center tips">
<img class="tips" src="assets/images/tips.png" alt="tips"/>
<h3 >for online marketing,SEO and social media.</h3>
<a routerLink ="tips"><button class="btn btn-primary btn-lg">Get More Tips</button></a>



</div>


</div>
</div>
</div>
    </section>
    

                              <!--
********************************************************************
* Parrallax Image Pink Woman
********************************************************************
--> 

<section class="section3">
<div class="container">
<div class="row">
    <div class="col-md-6 ">
 

      <div class="col-md-12">
      
      </div>

      
    </div>

      <!--image right-->

      <div class="col-md-6 ">
        <div class="col-md-12 push-md-2 welcome text-center">

      <h2>Think AHEAD of the Competition</h2>
      <h3>Download Our FREE App</h3>
    
    
    <!--buttons app download-->
    <div class="col-md-12">
        <div class="col-md-6">
   <a href=""><img class="btn1" src="assets/images/appstore_btn.png" alt="appstorebutton"/></a>
        </div>
        <div class="col-md-6">
  <a href=""><img class="btn2" src="assets/images/google_btn.png" alt="appstorebutton"/></a>
        </div>
    </div>

</div>

</div>
     
     
     
      </div>
      </div>
      </section>


                     <!--
********************************************************************
* Section 4 Blank white Section
********************************************************************
--> 

    <section class="section4">
<div class="container-fluid">
<div class="row">

<div class="window-wrapper">
<h2>Some content will go here</h2>



</div>
</div>
</div>
    </section>





                         <!--
********************************************************************
* Parrallax Image 3
********************************************************************
--> 

<section class="section5">
<div class="container">
<div class="row">
    <div class="col-md-6 ">
 

      <div class="col-md-12">
      
      </div>

      
    </div>

      <!--image right-->

      <div class="col-md-6 ">
        <div class="col-md-12 welcome">
 
<h2>Welcome to Quickapps</h2>
      <h2>Your own branded app</h2>
      <h3>A Business website with simple tips to help a small business owner get the most from there own branded apps</h3>
      <h3>It just so happens that we build great websites and apps...</h3>



</div>

</div>
     
     
     
      </div>
      </div>
      </section>



                 <!--
********************************************************************
* Section 6 Blank white Section
********************************************************************
--> 

    <section class="section6">
<div class="container-fluid">
<div class="row">

<div class="window-wrapper">
<h2>Some content will go here</h2>



</div>
</div>
</div>
    </section>