


     



                         <!--
********************************************************************
* Parrallax Image 3
********************************************************************
--> 

<section class="tips">
<div class="container">
<div class="row">
    
    
    <div class="col-md-6 ">
 

      <div class="col-md-12 tips-search">
          <h2>People are Searching</h2>
          <h3>For a Business</h3>
          <h3>Like yours Right Now...</h3>
          <button class=" btn btn-warning btn-lg">On a SmartPhone</button>
          </div>
          
          


        
          
        
          
          </div><!--col-6-->

      
    

      <!--image right-->

      <div class="col-md-6 ">
        <div class="col-md-12 ">
 




</div>

</div>
     
     
     
      </div>
      </div>
      </section>

<section id="banner">
<img class="banner-tips" src="assets/images/keeps-business.jpg" alt="bussiness-keeps"/>




</section>


<section id="tips">

    <div class="row text-center">   

        <div class="col-md-12"> 

           
<img class="tips-image" src="assets/images/tips.png" alt="tips"/>





        
<h2>How to Put Your Business <br>On a Smartphone...</h2>










<!--Business tips white section-->
<section id ="tip-white">
    <div class="row">

<h2>Business Tips</h2>
<h3> Tell Your Story Through Your Own Branded App</h3>
<p class="lead">People can find your business easily and quickly through your own branded optimized website<br> and by 
downloading your app.</p>
    
</div>

</section>


<!--Parrallax slider-->



            <!--
********************************************************************
* Parrallax Image Tips
********************************************************************
--> 

<section class="tips-bg">
<div class="container">
<div class="row">
    <div class="col-md-6 ">
 

      <div class="col-md-12">
      
      </div>

      
    </div>

      <!--image right-->

      <div class="col-md-6 ">
        <div class="col-md-12 welcome">
 




</div>

</div>
     
     
     
      </div>
      </div>
      </section>





       <!--
********************************************************************
* Ranking White Section
********************************************************************
--> 
<section id ="ranking-white">
    <div class="row">

<h2>Your High Ranking Own Branded App<br> Provides For Easy Search.</h2>


<p class="lead">As people are constantly searching for expert advice and deals to solve their purchasing problems<br> having your own branded optimized website is a must.<br> 
Give good advice and brilliant purchasing offers, great deals and backup  information will resonate with the viewer's interaction,<br>
helping your business to rank high on search pages. <br>People searching for a business like yours will find you fast  on search engine pages and will share your business app on their smartphone<br>
 and through social media with friends, business colleagues, family members etc.</p>
    
</div>

</section>
     






            <!--
********************************************************************
* Parrallax Image Rankingtips
********************************************************************
--> 

<section class="ranking-bg">
<div class="container">
<div class="row">
    <div class="col-md-6 ">
 

      <div class="col-md-12">
      
      </div>

      
    </div>

      <!--image right-->

      <div class="col-md-6 ">
        <div class="col-md-12 welcome">
 




</div>

</div>
     
     
     
      </div>
      </div>
      </section>





  <!--
********************************************************************
* Search Engine Section
********************************************************************
--> 
<section id ="ranking-white">
    <div class="container">
    <div class="row ">
    <div class="col-md-12">         

<h2>How To Get A High Ranking <br> (SEO) Search Engine Optimization<br>  For Your Website And App.</h2>

<p class="lead">Search engine providers like Google are looking to index great content  your expert advice,<br> 
your stories, textual plus graphical descriptions<br> you may also include video explanations all building customer engagement and pushing your optimized website towards the No1 spot on search pages.</p>
 </div><!--col-md-12-->  
</div>
</div>
</section>



  <!--
********************************************************************
* Parrallax Image Optimize
********************************************************************
--> 

<section class="optimize-bg">
<div class="container">
<div class="row">
  

     
     
     
      </div>
      </div>
      </section>




  <!--
********************************************************************
* Search Engine Section
********************************************************************
--> 
<section id ="ranking-white">
    <div class="row">

<h2> Is A High Ranking (SEO) <br>Necessary For My Business.</h2>
<p class="lead">YES: Your business opportunity to design, send and manage your business offering putting your unique, <br>valuable messages to your customers mind  to create a demand for your products and services<br> displayed right onto their devices or smartphone 24/7 putting your business right in their pocket.</p>
    
</div>

</section>




 <!--
********************************************************************
* Parrallax Image Necessary
********************************************************************
--> 

<section class="neccessary-bg">
<div class="container">
<div class="row">
  

     
     
     
      </div>
      </div>
      </section>






  <!--
********************************************************************
* Parrallax Image Search Engine
********************************************************************
--> 

<section class="search-bg">
<div class="container">
<div class="row">
  

     
     
     
      </div>
      </div>
      </section>



 <!--
********************************************************************
* Buzz Buzz Section
********************************************************************
--> 
<section id ="ranking-white">
    <div class="row">

<h2> Create A Business Buzz</h2>
<p class="lead">Its Your business opportunity to design, send and manage your business offering putting your unique, <br>valuable messages right in your customers mind to create a demand for your products and services displayed right onto their devices or smartphone 24/7 putting your business right in their pocket.</p>
<p class="lead">By creating a business buzz about what you do, say and offer your business becomes 1st in the
conversation as people care,<br> share and comment about what you do.All the time your own branded website is racing towards the No 1 Search Engine Optimization Ranking.</p>
    
</div>

</section>



<!--
********************************************************************
* Parrallax Image Buisness Buzz
********************************************************************
--> 

<section class="business-bg">
<div class="container">
<div class="row">
  

     
     
     
      </div>
      </div>
      </section>



 <!--
********************************************************************
* Leading Expert Section
********************************************************************
--> 
<section id ="ranking-white">
    <div class="row">

<h2> Be Like A Teacher<br> You Are The Leading Expert<br> In What You Do.</h2>
<p class="lead">How can you solve peoples day to day business problems? You are the leading expert in what you do,so think like a teacher and educate your audience.<br>You need to write content that is frankly written and personable. <br>Think as you write as a consumer thinks What’s in it for me...</p>
    
</div>

</section>


<!--
********************************************************************
* Parrallax Image Leading Expert
********************************************************************
--> 

<section class="expert-bg">
<div class="container">
<div class="row">
  

     
     
     
      </div>
      </div>
      </section>




      <!--
********************************************************************
* Consumer Section
********************************************************************
--> 
<section id ="ranking-white">
    <div class="row">
<h2>Its All About The Consumer Not You.</h2>
<p class="lead">Keep your business relevant, keep your advice interesting and remember it’s not about you, it’s about the consumer and how you engage with them.</p>

    
</div>

</section>


<!--
********************************************************************
* Parrallax Image Consumer
********************************************************************
--> 

<section class="consumers-bg">
<div class="container">
<div class="row">
  

     
     
     
      </div>
      </div>
      </section>







<!--
********************************************************************
* Reach Section
********************************************************************
--> 
<section id ="ranking-white">
    <div class="row">
  <h2> How Do You Reach Online or Offline Customers.</h2>
<p class="lead">If you don’t know how digital marketing works, or how to attract sales on builing up leads, give us a call and we will be glad to help you.</p>

    
</div>

</section>



<!--
********************************************************************
* Parrallax Image Reach
********************************************************************
--> 

<section class="online-bg">
<div class="container">
<div class="row">
  

     
     
     
      </div>
      </div>
      </section>






        </div>
    </div>
</section>








    